/* =========================================================
   AMERISSTORE
   STREAMING PAGE CLEAN
========================================================= */


/* =========================================================
   TITULO CATEGORIA
========================================================= */


.category-header{

    width:min(92%,1200px);

    margin:70px auto 30px;

}


.category-header span{

    color:var(--purple-light);

    font-size:11px;

    font-weight:1000;

    letter-spacing:3px;

}



.category-header h1{

    margin-top:12px;

    color:white;

    font-size:
    clamp(38px,5vw,55px);

    font-weight:1000;

    line-height:1.05;

}



.category-header p{

    margin-top:15px;

    max-width:650px;

    color:var(--gray);

    font-size:16px;

    line-height:1.6;

}






/* =========================================================
   HORARIO DE ATENCION
========================================================= */


.attention-card{

    width:min(92%,1200px);

    margin:35px auto 55px;

    padding:24px 30px;

    display:flex;

    align-items:center;

    gap:20px;


    background:
    linear-gradient(
        145deg,
        #161020,
        #09070d
    );


    border:
    1px solid var(--border);

    border-radius:22px;

}



.attention-icon{

    width:58px;

    height:58px;

    display:grid;

    place-items:center;

    flex-shrink:0;


    background:
    var(--purple-soft);


    border:
    1px solid var(--border);


    border-radius:16px;


    font-size:29px;

}



.attention-card h3{

    color:white;

    font-size:18px;

    font-weight:900;

}



.attention-card p{

    margin-top:5px;

    color:var(--gray);

}



.attention-card strong{

    color:var(--purple-light);

}







/* =========================================================
   AJUSTES STREAMING
========================================================= */


.products-section{

    width:min(92%,1400px);

    margin:55px auto;

}



.products-grid{

    display:grid;

    grid-template-columns:
    repeat(4,minmax(0,1fr));

    gap:22px;

}





/* =========================================================
   RESPONSIVE
========================================================= */


@media(max-width:1100px){


    .products-grid{

        grid-template-columns:
        repeat(3,minmax(0,1fr));

    }


}





@media(max-width:850px){


    .products-grid{

        grid-template-columns:
        repeat(2,minmax(0,1fr));

    }


}





@media(max-width:600px){


    .category-header{

        width:92%;

        margin-top:40px;

    }



    .category-header h1{

        font-size:34px;

    }




    .attention-card{

        width:92%;

        flex-direction:column;

        text-align:center;

        padding:22px;

    }




    .products-section{

        width:92%;

    }



    .products-grid{

        grid-template-columns:
        1fr;

    }



}
